<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>#maptimeDavis is the heart of the mapping community in Davis, CA. Our members include students, postdocs, staff, faculty, and alumni from UC Davis, as well as city residents and folks from our surrounding cities. #maptimeDavis is supported by <u><a style=color:white; href="https://datalab.ucdavis.edu">UC Davis DataLab</a></u>.</p>
      </div>
      <div class="col-lg-4">
        <p>We are a community rooted in the <u><a style=color:white; href="https://maptime.io/">#maptime</a></u> tradition of members learning mapping technologies together. Our goal is to provide a physical and digital space to help our members engage with our community.</p>
      </div>
      <!-- This add a download button -->
	  <!--
	  <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
	  -->
    </div>
  </div>
</section>
